<p>spinners works!</p>
@if (isSpinnerVisible) {
  <h2>Border spinner</h2>
  <p>Use the border spinners for a lightweight loading indicator.</p>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <br /><br />
  <h2>Colors</h2>
  <p>
    The border spinner uses currentColor for its border-color, meaning you can
    customize the color with text color utilities. You can use any of our text
    color utilities on the standard spinner.
  </p>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <br /><br />
  <h2>Growing spinner</h2>
  <p>
    If you don’t fancy a border spinner, switch to the grow spinner. While it
    doesn’t technically spin, it does repeatedly grow!
  </p>
  <div class="spinner-grow" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>
    Once again, this spinner is built with currentColor, so you can easily
    change its appearance with text color utilities. Here it is in blue, along
    with the supported variants.
  </p>
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <br /><br />
  <h2>Sizes</h2>
  <p>
    Add .spinner-border-sm and .spinner-grow-sm to make a smaller spinner that
    can quickly be used within other components.
  </p>
  <div class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow spinner-grow-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Or, use custom CSS or inline styles to change the dimensions as needed.</p>
  <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow" style="width: 3rem; height: 3rem" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <br /><br />
  <h2>Button</h2>
  <p>
    Use spinners within buttons to indicate an action is currently processing or
    taking place. You may also swap the text out of the spinner element and
    utilize button text as needed.
  </p>
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span class="visually-hidden" role="status">Loading...</span>
  </button>
  <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
    <span role="status">Loading...</span>
  </button>
  <br>
  <div>
    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
      <span class="visually-hidden" role="status">Loading...</span>
    </button>
    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
      <span role="status">Loading...</span>
    </button>
  </div>
}
